.wrapper{
    background-image: url(/image/Fon.jpg);
    font-family: Ubuntu;
}
.header{
    display: flex;
    color:#fff;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-title{
font-size: 22px;
font-weight: 700;
line-height: 22px;
margin: 18px 0 18px 59px;
}

.header-line-wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-line{
    width: 1px;
    height: 19px;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);

}

.icon-wrapper{
display: flex;
gap: 24px;
justify-content: space-between;
align-items: center;
margin: 17px 20px 17px 0;
}

.icon-calenar,
.icon-email,
.icon-compass{ 
display: block;
width: 23px;
height: 24px;
background-repeat:no-repeat ;
}

.icon-calenar{
background-image: url(/icon/calendar-alt-regular\ 2.svg);
}

.icon-email{
background-image: url(/icon/envelope-open-regular\ 1.svg);
}

.icon-compass{
background-image: url(/icon/compass-regular\ 1.svg);
}

.sign-up-wrapper{
    display: flex;
}

.sign-up-wrapper{
    margin: 22px 79px 20px 27px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

/* Form */

.form-wrapper{
width: 444px;
height: 584px;
background: #FFF;
box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
margin: 0 auto;
margin-top: 54px;
margin-bottom: 74px;
}

.log-in-wrapper {
display: flex;
flex-direction: row;
justify-content: space-between;
font-family: Ubuntu;
font-style: normal;
font-weight: 400;
padding: 31px 59px 0 61px;
text-align: center;
width: 324px;
height: 18px;

}

/* .log-in{


} */

.log-in-signup{
color: #434343;
text-align: center;
font-size: 20px;
line-height: 20px; /* 100% */
list-style: none;
text-decoration: none;
}

.log-in-login{
flex-shrink: 0; 
color: #3CB878;
font-size: 14px;
line-height: 14px; /* 100% */
list-style: none;
text-decoration: none;
}

.buton-wrapper{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 48px;
    width: 322px;
 
}

.facebook  
{
    display: flex;
    justify-content: space-between;
background-color: #305DB8;
background-image: url(/icon/F.svg);
background-position-x: 11px;
background-position-y: 12px;
background-repeat: no-repeat;
width: 160px;
padding: 0;
}

.facebook-text{

    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    padding: 17px 22px 17px 0;
}

.wrapper-hr-fb{
width: 48px;
/* display: flex;
justify-content: right;
margin: 0; */
}

.hr-fb{
width: 1px;
height: 28px;
opacity: 0.1;
background: #0A162F;
padding-left: 48px;
}
.google{
    background-color: #DF4A32;
    background-image: url(/icon/G+.png);
    background-repeat: no-repeat;
    color: #FFF;
font-size: 16px;
font-weight: 400;
width: 160px;

}